<h1>About Us</h1>
<br>
<p id='about-us-description'>Awesome Footprints is a platform that connect the consumers to the world
of simplified environmental product declaration and lifecycle assessment.  Raising
environmental conciousness, one purchase at a time.</p>
<br>
<br>
<div class='row'>
  <div class="col-sm-4">
    <div class='img-circle'>
      <%= image_tag('Frank_Liu_2016.jpg', id: 'profile-picture') %>
    </div>
  </div>
  <div class="col-sm-8">
    <em id='profile-title'>Creator and Sustainer - Frank Liu</em>
    <br>
    <p id='profile-description'>A true full-stack web development program, with experiences ranging from embedded programming with C++ to web development with Ruby on Rails and Javascript.  A proud soon-to-be graduate at Codecore.  <br>
    Visit my LinkedIn at: https://www.linkedin.com/in/frank-liu-m-eng-76b834</p>
  </div>
</div>
