<h1>About Us</h1>
<br>
<p>Awesome Footprints is a platform that connect the consumers to the world
of simplified environmental product declaration and lifecycle assessment.  Raising
environmental conciousness, one purchase at a time.</p>
