<div id='cohort-12-msg'>Best of Luck CodeCore Cohort 12!
</div>
<div id='cohort-12-img'>
</div>

<div id='about-us-div'>
  <h1>About Us</h1>
  <br>
  <p id='about-us-description'>Awesome Footprints is a platform that connects the consumers to the world of simplified environmental product declaration and lifecycle assessment.  Raising
  environmental conciousness, one purchase at a time.</p>
  <button id='cohort-12-button'></button>
  <br>
  <br>
  <div class='row'>
    <div class="col-sm-4">
      <div class='img-circle'>
        <%= image_tag('Frank_Liu_2016.jpg', id: 'profile-picture') %>
      </div>
    </div>
    <div class="col-sm-8">
      <em id='profile-title'>Creator and Sustainer - Frank Liu</em>
      <br>
      <p id='profile-description'>A true full-stack web development programmer, with experiences ranging from embedded programming with C++ to web development with Ruby on Rails and Javascript.  A proud soon-to-be graduate at CodeCore.  <br>
      Visit my LinkedIn at:
      <%= link_to nil, "http://www.linkedin.com/in/frankliu81"%></p>
    </div>
  </div>
</div>
