// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.intro {
  display: table;
  width: 100%;
  height: 840px;
  //height: auto;
  //padding: 100px 0;
  margin-top: -10px;
  text-align: center;
  color: #fff;
  background: #000 image_url("sand_footprints.jpg") no-repeat scroll bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .intro-body {
    display: table-cell;
    vertical-align: middle;

    .brand-heading {
      font-size: 60px;
      margin-bottom: 40px;
    }

    .intro-text {
      font-size: 24px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
  }
}

#awesome-footprint-logo {
  display: none;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #009900;
  border-radius: 35px;
  font-size: 40px;
  color:  #009900;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    color:  #009900;
    background: transparentize( #009900, 0.9);
  }
}

#more-info-button {
  background-color: #E7E2DD;
}

#more-info-header {
  /* prevent the more info heading from getting cut off after section transition */
  padding-top: -50px;
  margin-top: 50px;
  margin-bottom: 30px;
}


.more-info-subheader {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.more-info-image {
  width: 90%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.more-info-container {
  margin:0 auto;
  width: 80%;
}

.more-info-details {
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  width: 90%;
  height: 360px;
}

// about product-image
#about-us-description {
  font-size: 18px;
  line-height: 32px;
}

#cohort-12-button {
  background: transparent;
  border: none !important;
  font-size:0;
  width: 100px;
  height: 50px;
}

#cohort-12-msg {
  display: none;
  font-size: 100px;
  color: #CC0000;
  margin-top: 300px;
  line-height: 120px;
  text-align: center;
  position: relative;
}

#cohort-12-img {
  display: none;
  width: 1023px;
  height: 682px;
  background-image: url(image-path('codecore_2016-3-24.jpg'));
  position: relative;
}

.img-circle {
  width: 300px;
  height: 300px;
  border: 10px darkgrey solid;
  overflow: hidden;
}

#profile-picture {
  margin-top: -50px;
  width: 100%;
}

#profile-title {
  font-size: 20px;
  line-height: 64px;
}

#profile-description {
  font-size: 16px;
  line-height: 32px;
}
