// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// product index page
.products {
  height: 200px;
}

.product-index-image-container-with-name {
  margin-bottom: 20px;
}

.product-index-image-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #021a40;
}

.product-index-image {
  max-width: 160px;
}

.product-index-placeholder-name {
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

a.product-index-placeholder-link:hover{
  color: black;
  text-decoration:none;
}

// product show page
.product-image {
  border:1px solid #021a40;
}

#impacts-table {
  margin-top: 30px;
}

#source-products-header {
  /* prevent the source products heading from getting cut off*/
  padding-top: -50px;
  margin-top: 50px;
}

#source-product-submit-label {
  margin-top: 15px;
}

// Product new/edit (ie. _form)
input[type="file"].hidden-input {
    display: none;
}
